/**
    Title: Web 231 HTML CSS and JavaScript Requirements
    Arthur: Professor Krasso
    Date: 10/23/22
    Modified By: Brooks
    Description: These were all copied from the 
    previous class, Web 200, requested to be
    included by the Document titled: "Web 231  
    HTML CSS and JavaScript Requirements"
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
}

.btn-primary {
    background-color: #4F3674;
    color: white;
}

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}



/**
    Title: Exercise 2.2 - Hello JavaScript
    Author: Professor Krasso
    Date: 10/26/2022
    Description: This code is to style the Return link to 
    index page. Added .return-home per assignment guidelines. 
*/

/**
    In the class value of .return-home sets the links to have a text 
    color and removes the underline decoration.
*/
.return-home a {
    color: #4F3674;
    text-decoration: none;
}

/**
    In the class value of .return-home links on hover with change 
    background color. 
*/
.return-home a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

/**
    In the class value of .return-home links previously visited will
    have the following text color. 
*/
.return-home a:visited {
    color: #3C275A;
}