/**
    Title: Assignment 5.2 - Sequence Game
    Author: Professor Krasso
    Date: 11/20/22
    Description: Using same CSS Guide from previous 
    assignment. Adds margin and center for a 
    cleaner look. 
*/


/**
    Result answers will have a center aligned 
    text and text size of 28px. 
*/
#results {
    text-align: center;
    font-size: 28px;
}

/**
    Centering the h1 header to match the 
    assignment document. 
*/
h1 {
    text-align: center;
}

/**
    Adding width and margin to match with cards 
    as displayed in assignment document.
*/
.return-home {
    width: 600px;
    margin: 3% auto 0;
}

/**
Adding a width and balanced margin to cards.
*/
.card-container {
    width: 600px;
    margin: 3% auto 0;
}